@import "navBar";
@import "about";
@import "product-info";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-x: hidden;
  background-color: lemonchiffon;

  //     -----------------products------------------------
  // //
  .container-products {
    padding: 5em 20em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    // background-color: lemonchiffon; //pretty yellow
    background-color: rgb(255, 255, 255);

    li {
      list-style: none;
    }

    .quote {
      text-align: center;
      padding: 20px 10px;
      background-color: rgb(255, 255, 255);
      //   border-left: 0px solid #000;
      //   border-right: 0px solid #000;
      //   border-top: 1px solid #000;
      //   border-bottom: 1px solid #000;

      h1 {
        font-size: 2.5vh;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        color: #111111;
        margin: 10px 5px;
      }
      .links-deco-products {
        text-decoration: none;
        color: rgb(255, 208, 0);
      }

      .img-box {
        width: 100%;

        img {
          width: 100%;
          min-height: auto;
          object-fit: cover;
        }
      }
      //
      p {
        text-transform: uppercase;
        color: #535353;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2vh;
        margin: 10px 0;
      }
      .btn-addToCart {
        margin: 28px 0px;
        padding: 10px 16px;
        font-size: 1.7vh;
        border-top: 1px solid#535353;
        border-bottom: 1px solid #535353;
        border-left: 0px solid #000;
        border-right: 0px solid #000;
        background-color: white;
        transition: 0.6s ease;
        &:hover {
          border-top: 1px solid#9c9c9c;
          border-bottom: 1px solid#9c9c9c;
          border-top: 0px solid#535353;
          border-bottom: 0px solid #535353;
          background-color: #111;
          color: #ddd;
        }
      }
      h5 {
        color: #222;
      }
    }
  }
  //
  //   -----------------------------------------
}
